.container {
  padding: 0 0.5rem;
  display: flex;
}

.main {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin: 0 0 1rem 0;
  line-height: 1.15;
  font-size: 3rem;
}

.hook {
  position: relative;
  z-index: 1;
  font-size: 1.5rem;
  margin: 0;
  padding: 0.5rem 1rem;
  border-radius: 8px 8px 0 0;
  color: #fff;
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size: 16px 16px;
}

.usage {
  margin: 0.2rem 0 2rem 0;
  background: #fafafa;
  border: 1px solid #282828;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid button {
  display: block;
}
